# ignore everything
*

# unignore bash aliases
!.bash_aliases

# unignore these files...
!.vimrc
!.tmux.conf
!.install.sh

# unignore .git*
!.gitignore
!.gitconfig

# and unignore this directory
!/.vim/

# but ignore this subdirectory
/.vim/view
