# ignore all files and subdirectories in repo
/*
/*/

# unignore these files...
!.vimrc
!.gitignore
!.tmux.conf
!.install.sh
!.gitconfig

# and unignore this directory
!/.vim/

# but ignore this subdirectory
/.vim/view
